.playerHide {
  display: block;
  margin: 0 auto;
  background-color: var(--black);
  border-radius: 9999px;
  max-width: 6rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem 1rem;
}

.playerHide div {
  font-size: 0.75rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}