input[type="range"] {
  @apply absolute h-full w-full cursor-pointer bg-transparent outline-none;
  appearance: none;
  -webkit-appearance: none;
}

input[type="range"]:hover::-webkit-slider-thumb {
  @apply scale-100 opacity-100;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  @apply relative top-1/2 m-0 h-3 w-3 -translate-y-1/2 scale-[0.2] rounded-full border-none bg-white p-0 opacity-0 transition-all;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply h-full rounded-full bg-gray-light;
}

input[type="range"]::-webkit-progress-value {
  @apply bg-white;
}

.loader {
  @apply absolute h-full w-full rounded-full;

  background-image: repeating-linear-gradient(
    -42.4deg,
    #7400a8 0 10px,
    #3f2052 10px 20px
  );
  animation: loading infinite linear 3s;
}

@keyframes loading {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 119px;
  }
}
