.modal {
  transition: all 0.3s;
}

.modal.preEnter {
  opacity: 0;
  transform: translateY(-30px);
}
.modal.exiting {
  opacity: 0;
  transform: translateY(30px);
}

.modal.exited {
  display: none;
}