.input {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.files {
  margin: var(--space-xs) 0;
  display: flex;
  max-width: 400px;
  flex-direction: column;
  gap: var(--space-xxs);
}

.file {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: var(--space-xxs);
  transition: 0.15s ease;

  &:hover {
    background-color: var(--color-secondary);
  }

  .name {
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
    overflow: hidden;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon {
      font-size: var(--fs-md);
    }
  }
}
